In [0]:
import pandas as pd
import numpy as np

In [0]:
df1 = pd.read_csv('TwADR-L-train-all.csv')

In [4]:
df1.head()

   C0274714    Adrenergic syndrome
0  C0018772  Hearing Loss, Partial
1  C0041466          Typhoid Fever
2  C0684249      Carcinoma of lung
3  C0032961              Pregnancy
4  C0947912            Myasthenias

In [5]:
df1.describe()

        C0274714 Adrenergic syndrome
count      48056               48056
unique      2220                2995
top     C0917801       Sleeplessness
freq        1066                 590

In [0]:
df2 = df1.drop_duplicates()

In [8]:
df2.describe()

        C0274714 Adrenergic syndrome
count       3204                3204
unique      2220                2995
top     C0917801             anxiety
freq          39                   7